{
  "server": {
        "host": "ip",
        "port": 25572,
        "rcon_port": 25912,
        "rcon_password": "password",
        "bot_mode": "real_moving" 
    },
  "scenarios": {
    "quick": {
      "player_count": 2,
      "duration_minutes": 10,
      "world_gen_chunks": 10,
      "entity_spawn_rate": "low",
      "description": "Quick test - 10 minute"
    },
    "light": {
      "player_count": 3,
      "duration_minutes": 10,
      "world_gen_chunks": 30,
      "entity_spawn_rate": "low",
      "description": "Light load - 3 players, 10 min"
    },
    "medium": {
      "player_count": 6,
      "duration_minutes": 10,
      "world_gen_chunks": 60,
      "entity_spawn_rate": "medium",
      "description": "Medium load - 6 players, 10 min"
    },
    "heavy": {
      "player_count": 10,
      "duration_minutes": 15,
      "world_gen_chunks": 100,
      "entity_spawn_rate": "high",
      "description": "Heavy load - 10 players, 15 min"
    }
  }
}